<div id="planner-detail-panel" class="planner-detail-panel">
  <button id="planner-panel-close" onclick="closePlannerPanel()">&#x2715;</button>
  <div id="planner-panel-code" class="planner-panel-code"></div>
  <div id="planner-panel-title" class="planner-panel-title"></div>
  <div id="planner-panel-meta" class="planner-panel-meta">
    <span id="planner-panel-credits"></span>
    <span id="planner-panel-origin"></span>
  </div>
  <div id="planner-panel-desc" class="planner-panel-desc"></div>
  <div class="planner-panel-relations">
    <div class="planner-rel-group"><h5>&#9654; Prerequisites</h5><div id="planner-panel-prereqs"></div></div>
    <div class="planner-rel-group"><h5>&#8634; Co-requisites</h5><div id="planner-panel-coreqs"></div></div>
  </div>
</div>
