<div id="detail-panel">
  <button id="panel-close" onclick="clearSelection()">&#x2715;</button>
  <div id="panel-code"></div>
  <div id="panel-title"></div>
  <div id="panel-meta">
    <span class="panel-credits" id="panel-credits"></span>
    <div id="panel-tags"></div>
  </div>
  <div id="panel-desc"></div>
  <div class="panel-relations">
    <div class="rel-group prereqs"> <h5>&#9654; Prerequisites</h5>  <div id="panel-prereqs"></div></div>
    <div class="rel-group coreqs">  <h5>&#8634; Co-requisites</h5> <div id="panel-coreqs"></div></div>
    <div class="rel-group unlocked"><h5>&#8599; Unlocks</h5>        <div id="panel-unlocked"></div></div>
  </div>
  <div id="panel-eligible"></div>
</div>
