<div id="pw-panel">
  <button id="pw-panel-close" onclick="pwClearSelection()">&#x2715;</button>
  <div id="pw-panel-code"></div>
  <div id="pw-panel-title"></div>
  <div id="pw-panel-meta">
    <span class="panel-credits" id="pw-panel-credits"></span>
    <div id="pw-panel-tags"></div>
  </div>
  <div id="pw-panel-desc"></div>
  <div class="panel-relations">
    <div class="rel-group prereqs"> <h5>&#9654; Prerequisites</h5>  <div id="pw-panel-prereqs"></div></div>
    <div class="rel-group coreqs">  <h5>&#8634; Co-requisites</h5> <div id="pw-panel-coreqs"></div></div>
    <div class="rel-group unlocked"><h5>&#8599; Unlocks</h5>        <div id="pw-panel-unlocked"></div></div>
  </div>
</div>
